body {
	margin: 0;
	background-color: #3f4042; 
	background-image: url("../images/home.jpg");
	background-color: #575757; 
	background-blend-mode : multiply;
	background-size : cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

section{
	padding:2rem;
}

.brand-logo{
	height:4rem;
}

.footer-logo{
	height:12rem;
	
}

.navbar{
	background-color: #000; 
}

nav li{
	padding: .5rem;
}

nav li:hover{
	background-color: #262729; 
	border-radius: .7rem;
}


.item, .item:hover{
	color: #fff;
}

#profile{
	display:flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	padding:2rem;
	color:white;
}

.card{
	align-items: center;
	padding:2rem;
	border-radius: 1.2rem;
	background-color: #434447; 
}

#profTable{
	font-size:18px;
	color:white;
	border-collapse:separate;
	border-spacing:0 15px;
}

.avatadiv{
	display:flex;
	justify-content: center;
	align-items: center;
}
.avata{
	
	width:150px;
	margin-bottom:2rem;
}

td{
	padding-left: 30px;
}


h1, label{
	color:white;
}

.topic{
	text-align:center;
}

hr{
	color:white;
	margin-bottom: 2rem;
}

#bookings{
	background-color: #434447; 
	display:flex;
	align-items: center;
	justify-content: center;
}

.list{
	margin-bottom:2rem;
}

.footer-dark {
  padding: 0;
  color:#f0f9ff;
  background-color: black;
}


@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    
  }
}

.footer-dark .item.social {
  text-align:left;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}


.social{
	display:block;
}
